[Unit]
Description=UDP forwarding for badvpn-tun2socks
After=nss-lookup.target

[Service]
Restart=always
Type=simple
ExecStart=/usr/bin/taskset -c 0 /usr/local/bin/badvpn-udpgw --loglevel none --listen-addr 127.0.0.1:7300
RestartSec=2s

[Install]
WantedBy=multi-user.target
